{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Site !</h1>
      <p> <br>Your About Us page is vital.<br>

          It’s often the first stop in any user’s journey through a website.
          It also shouldn’t be their last, because first impressions count online just as much as they do in the real world.
      </p>

    </div>
  </div>


</main>





{% endblock %}
